* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #6B6C84;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #3B3C55;
  border-radius: 1.5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.input {
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  width: 18rem;
  height: 3rem;
  font-size: 1.5rem;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
  border: 1px solid #B3B4CC;
  background-color: #7F8099;
  text-align: right;
  color: white;
}

input::placeholder {
  color: white;
  opacity: 0.5;
}

.layout {
  display: grid;
  grid-template-columns: repeat(4, 4rem);
  gap: 1rem;
  justify-content: center;
}

button {
  font-size: 1.5rem;
  padding: 1rem;
  background-color: #28293D;
  color: white;
  border: 2px solid #525371;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #3E3F5E;
}

.equals {
  background-color: #FF4A39;
  grid-column: span 2;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.equals:hover {
  background-color: red;
}

.container .layout {
  margin-top: 1rem;
}